.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.height {
    height: 100vh;
}

.signup {
    position: relative;
    height: 50px;
    font-size: 20px;
}

.form-control {
    position: relative;
    height: 50px;
    background-color: #f1f2f2;
    text-indent: 24px;
    font-size: 20px;
}

.form-control:focus {
    position: relative;
    background-color: #f1f2f2;
    box-shadow: none;
    color: #020202;
    border-color: #4f63e7;
}