@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: flex;
}

.card {
    padding: 25px;
    background-color: #ff0099;
}

.height {
    height: 100vh;
}

.container {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}