@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    font-family: "helvetica neue";
    font-weight: 300;
    display: flex;
}

.card {
    padding: 5px;
    background-color: #ffffff;
}

.height {
    height: 100vh;
}

.container-bottom {
    background-color: #ffffff;
}

.iphone-x-3 {
    width: 431px;
    height: 860px;
    background: #dee2e6;
}

.photo {
    height: 200px;
    width: 200px;
}

.container {
    background: #8dc63f;
    color: #000000;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 378px;
    height: 830px;
    padding: 8px 8px 8px 8px;
}